<services>
  <service name="Dova.Cache.MemCacheService" behaviorConfiguration="serviceBehavior">
    <host>
      <baseAddresses>
        <add baseAddress="net.tcp://127.0.0.1:13000/"/> 
        <add baseAddress="http://127.0.0.1:13100/"/>
      </baseAddresses>
    </host>
    <endpoint name="CacheService1" address="CacheService1" binding="customBinding"       bindingConfiguration="customSvcNetTcpBinding"  contract="Dova.Interfaces.ICache"/>
    <endpoint name="LoginCacheService1" address="net.tcp://127.0.0.1:13000/LoginCacheService1" binding="customBinding"       bindingConfiguration="customSvcNetTcpBinding"  contract="Dova.Interfaces.ICache"/>
  </service>
</services>




