<services> 
  <service name="Dova.Sequences.Sequence" behaviorConfiguration="serviceBehavior">
    <host>
      <baseAddresses>
        <add baseAddress="net.tcp://127.0.0.1:18001/"/>
        <add baseAddress="http://127.0.0.1:19001/"/>
      </baseAddresses>
    </host>
    <endpoint name="SequenceService1" address="SequenceService1" binding="customBinding" bindingConfiguration="customSvcNetTcpBinding" contract="Dova.Interfaces.ISequence"/>
    <endpoint name="SequenceService2" address="SequenceService1" binding="webHttpBinding" behaviorConfiguration="webBehavior"    bindingConfiguration="webBinding"   contract="Dova.Interfaces.ISequence"/>
  </service>  
</services>




