<?xml version="1.0"?>
<configuration> 
  <connectionStrings>
    <add name="LogConnection" connectionString="server =.;uid =sa;pwd =1;database = Monitors;max pool size=100;min pool size=10" providerName="System.Data.SqlClient"/>
    <add name="DACConnection" connectionString="server =.;uid =sa;pwd =1;database = Monitors;max pool size=100;min pool size=10" providerName="System.Data.SqlClient"/>
  </connectionStrings> 

  <system.serviceModel>
    <services configSource="Config\\Services.config"/>
    <client configSource="Config\\Client.config"/>
    <bindings configSource="Config\\Bindings.config"/>
    <behaviors configSource="Config\\Behaviors.config"/>
  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024"/>
    </connectionManagement>
  </system.net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
