<?xml version="1.0"?>
<ServiceConfigs>
  <InnerServiceType>1</InnerServiceType>
  <InnerRetryInteval>3</InnerRetryInteval>
  <ServiceConfigGroups> 
  
    <ServiceConfigGroup GroupName="MessageService">
    <ServiceConfigItem>
      <Enable>true</Enable>
      <Url>127.0.0.1</Url>
      <EndPoint>19000</EndPoint>
      <ServiceType>2048</ServiceType>
    </ServiceConfigItem>
    </ServiceConfigGroup>  

  </ServiceConfigGroups>
  <PlugingItems> 
    <PlugingItem Name="PushMessageService"         Type="Dova.Handlers.PushMessageHandler,Dova.Handlers"  />
    <PlugingItem Name="LoginService"        Type="Dova.Handlers.PushMessageHandler,Dova.Handlers"  />
    <PlugingItem Name="DACService"        Type="Dova.Handlers.DACHandler,Dova.Handlers"  />

    <PlugingItem Name="TestService"  GroupName="TestRoutingService"  Type="Dova.MessageQueue.ProxyHandler,Dova.MQCore"  />
    <PlugingItem Name="TestAsyncDispatchService"   ParentGroupIndex="1"     GroupIndex="1"    Type="Dova.MessageQueue.TestHandler,Dova.MQCore"  />
    <PlugingItem Name="TestRoutingProxyService"      RoutingGroupName="WMSReceiver"     Type="Dova.MessageQueue.TestHandler,Dova.MQCore"  />
    <PlugingItem Name="TestAsyncRoutingProxyService"   RoutingGroupName="WMSSender"     Type="Dova.MessageQueue.TestHandler,Dova.MQCore"  />
  </PlugingItems>
  <RoutingItems> 
  </RoutingItems>
  <LogConfigs>
    <InnerLogMate>1</InnerLogMate>
  </LogConfigs> 
</ServiceConfigs>